<template>
    <div>
        <div class="templates">
            <button class="remove-style-button button_style">Создать</button>
            <button class="remove-style-button button_style button_color_blue">Создать</button>
            <button class="remove-style-button button_style button_color_blue">
                <img class="img_load" src="../assets/load.svg" alt="load">
            </button>
        </div>
        <div class="main">
            <div class="select">
                <select v-model="select">
                    <option value="0" selected>Не выбрано</option>
                    <option value="1">Сделка</option>
                    <option value="2">Контакт</option>
                    <option value="3">Компания</option>
                </select>
            </div>
            <button class="remove-style-button button_style" @click="create()" v-if="!process" v-bind:class="{button_color_blue: select > 0}">Создать</button>
            <button class="remove-style-button button_style button_color_blue" v-else>
                <img class="img_load" src="../assets/load.svg" alt="load">
            </button>
        </div>
        <div class="result">
            <div v-if="!items_result.length">
                <div class="item_result">
                    <span>Вы еще не создали сущности!</span>
                </div>
            </div>
            <div class="item_result" v-for="value in items_result" v-bind:key="value.id" v-else>
                <span>ID: {{value.id}}</span>
                <span>Name: {{value.name}}</span>
            </div>
        </div>
    </div>
</template>

<script>
    const axios = require('axios');

    export default {
        name: "index",
        data() {
            return {
                select: 0,
                process: false,
                items_result: [],
            };
        },

        methods: {
            create(){
                this.select = parseInt(this.select, 10);
                if(this.select === 0)return false;
                else if(this.select === 1){ // Сделка ('leads')
                    this.process = true;
                    this.event_create_object('leads.php');
                }
                else if(this.select === 2){ // Контакты ('contacts')
                    this.process = true;
                    this.event_create_object('contacts.php');
                }
                else if(this.select === 3){ // Компании ('companies')
                    this.process = true;
                    this.event_create_object('companies.php');
                }
            },
            event_create_object(url){
                var config = {
                    method: 'post',
                    url: 'https://mrarket.com/api/' + url,
                    headers: {}
                };
                axios(config)
                    .then(e => {
                        this.process = false;
                        var _data = e.data;
                        if(_data.code === 200){
                            this.items_result.push(_data.data);
                        }
                    })
                    .catch(function (error) {
                        this.process = false;
                        console.log(error);
                    });
            },
        }
    }
</script>

<style scoped>
    .templates {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .select {
        position: relative;
        display: inline-block;
        margin-right: 14px;
    }
    .select select {
        border: 1px solid #4c8bf7;
        padding: 5px 15px 5px 5px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
        position: relative;
        display: inline-block;
    }
    .select:after {
        content: "▼";
        padding: 0 8px;
        font-size: 12px;
        position: absolute;
        right: 8px;
        top: 7px;
        z-index: 1;
        text-align: center;
        width: 10%;
        height: 100%;
        pointer-events: none;
        box-sizing: border-box;
    }
    .main {
        margin-top: 24px;
    }
    .img_load {
        width: 13px;
    }
    .result {
        margin: 24px 0;
    }
    .item_result {
        margin: 5px 0;
        padding: 14px;
        border: 1px solid #4c8bf7;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>
