<template>
    <div class="app container">
        <router-view/>
    </div>
</template>

<script>
    export default {
        name: 'App',
        data(){
            return {
            };
        },
        mounted() {
        },
        methods: {
        }
    }
</script>

<style>
    .app {
        font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif;
    }
    body{
        margin: 0;
    }
    .remove-style-button {
        outline: none;
        border: 0;
        background: none;
        cursor: pointer;
        padding: 0;
        margin: 0;
    }

    .button_style {
        color: black;
        border-radius: 5px;
        border: 1px solid #DBDEDF;
        background: #FCFCFC;
        padding: 5px 10px;
        font-weight: bold;
    }
    .button_style:active {
        box-shadow: inset 1px 1px 3px #575555;
    }
    .button_color_blue {
        border: 1px solid #4077D6;
        background: #4C8BF7;
        color: white;
    }
    .container {
        max-width: 800px;
        margin: 50px auto;
    }
    .block_oauth span{
        color: red;
    }
</style>
